body {
  background-image: url('https://images.unsplash.com/photo-1506368083636-6defb67639a7?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80');
}

a {
  text-decoration: none;
  color: #2196f3;
}

a:hover {
  text-decoration: underline;
}

span:hover {
  cursor: default;
}

h3:hover {
  cursor: default;
}

.body {
  width: 80%;
  margin: 0 auto;
  font-family: 'Muli', sans-serif;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.header h1 {
  font-family: 'Cardo', serif;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 0px;
  margin-bottom: 2rem;
}

.header input {
  width: 60%;
  padding: 1rem 0.7rem;
  font-size: 1rem;
}

.main {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

.main img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.footer {
  font-size: 12px;
  text-align: center;
  padding-top: 3rem;
}

.green {
  color: green;
}

.button {
  background-color: #2196f3;
  border: none;
  border-radius: 0.4rem;
  outline: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0.9rem;
  width: 100%;
  transition-property: background-color;
  transition: 0.5s;
  font-weight: 700;
}

.button:hover {
  background-color: #1a78c2;
  cursor: pointer;
}

.source {
  margin-top: 3rem;
  font-size: 12px;
}

.recipe {
  width: 30%;
  margin-bottom: 1rem;
  text-align: center;
}

.recipe h4 {
  font-weight: 400;
  margin-top: 0.7rem;
}

.recipe-content {
  letter-spacing: 0.5px;
  width: 100%;
}

.recipe-img {
  align-content: center;
}

.recipe img {
  max-width: 100%;
  height: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  transition-property: opacity;
  transition-duration: 3s;
}

.go-next,
.go-next-video {
  font-size: 3rem;
  color: #bbbbbb;
  position: fixed;
  right: 7rem;
  top: 40vh;
  transition-property: font-size;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.go-next:hover,
.go-next-video:hover {
  cursor: pointer;
  font-size: 3.2rem;
}

.go-prev,
.go-prev-video {
  font-size: 3rem;
  color: #bbbbbb;
  position: fixed;
  left: 7rem;
  top: 40vh;
  transition-property: font-size;
  transition: 0.2s;
}

.go-prev:hover,
.go-prev-video:hover {
  cursor: pointer;
  font-size: 3.2rem;
}

.modal-content {
  border-radius: 1rem;
  margin: 10% auto;
  width: 60%;
}
.modal-content-video {
  background-color: #ffffff;
  margin: 10% auto;
  display: flex;
  justify-content: center;
  width: 736px;
}
.modal-content-video iframe {
  width: 736px;
  height: 414px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  padding: 2rem 3rem 1rem 4rem;
  margin-bottom: 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.modal-header {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 3rem;
  padding-bottom: 3rem;
}

.modal-title span {
  font-family: 'Cardo', serif;
  font-size: 2rem;
  text-transform: lowercase;
}

.modal-top {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 2rem;
}

.modal-description {
  text-align: left;
  line-height: 1.5rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2rem;
  padding: 1.5rem 3rem;
  margin: 2rem 0;
}

.modal-body {
  display: flex;
  flex-flow: row nowrap;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2rem;
  padding: 1rem 2rem 2rem 2rem;
  text-align: left;
}

.modal-img {
  margin: auto 0;
  padding-left: 1rem;
  padding-top: 1rem;
  width: 70%;
}

.modal-details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 40%;
  padding: 1rem 0 0 2rem;
  text-align: left;
}

.modal-details-2 {
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  line-height: 1rem;
}

.modal-details button {
  align-self: center;
  bottom: 0;
}

.modal-ingredients {
  width: 50%;
}

.ingredients {
  list-style: none;
}

.ingredients li {
  padding: 10px 0;
}

.modal-instructions {
  padding-top: 5px;
  line-height: 1.5rem;
  width: 50%;
}

.modal-instructions li {
  margin: 1rem;
}

.nav-bar {
  padding-top: 10px;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar span {
  width: 10%;
  padding-bottom: 10px;
}

.video-nav-content {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 5rem;
  padding-bottom: 0;
}

.recipe-nav-content {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 5rem;
  padding-bottom: 0;
  z-index: 1;
}

.video-card {
  display: flex;
  padding-bottom: 0;
}

.video-img {
  margin: 1rem;
}

.video-player {
  border: none;
  height: 100%;
}

.video-details {
  padding: 1rem 2rem;
}

.video-details h3 {
  font-weight: 500;
}

.filters {
  width: 70%;
  margin: 0 auto;
  flex-flow: column nowrap;
}

.filter-form {
  display: flex;
  justify-content: start;
}

.filter-form input {
  width: 3%;
}

.filter-forms label {
  width: 90%;
}
